<div class="row ">
  <div class="col-2 border border-black"></div>
  <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
    <%= link_to 'Logo', client_root_path, class: "nav-link #{'active' if action_name == 'logo'}", 'aria-current': 'page' %>
  </div>
  <div class="col-4 border border-black"></div>
  <div class="col-3 border border-black">
    <div class="row ">
      <div class="col-3 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Coins</div>
      <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Claim</div>
      <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Language</div>
      <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">
        <div class="row">
          <div class="col-1 d-flex justify-content-center">
            <div id="mySidenav" class="sidenav">
              <div class="row">
                <div class="col-11">
                  <%= render 'client/partial/left_side' %>
                </div>
                <div class="col-1">
                  <%= render 'client/partial/right_side' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
          <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
            <div class="animated-icon"><span></span><span></span><span></span></div>
          </button>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-2 border border-black"></div>
</div>

<div class="row mb-4"></div>
<div class="row mb-4"></div>


