<div class="row">
  <div class="col-12 border border-black border-bottom-0 border-end-0"></div>
</div>
<div class="row">
  <div class="col-12 border border-black">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>
<div class="row">
  <div class="col-12 border border-black border-top-0 border-bottom-0">&nbsp;</div>
</div>

