<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item" style="margin-left:20px;">
    <%= link_to 'Homepage', admin_root_path, class: "nav-link #{'active' if action_name == 'homepage' }", 'aria-current': 'page' %>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Member Management
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <%= link_to 'User List', admin_root_path, class: "nav-link #{'active' if action_name == 'user list' }", 'aria-current': 'page' %>
        <%= link_to 'Item List', admin_items_path, class: "nav-link #{'active' if action_name == 'item list' }", 'aria-current': 'page' %>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Example 2 Management
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <li>Example 1</li>
        <li>Example 2</li>
      </div>
    </div>
  </div>
</div>


