<div class="row mb-4"></div>
<div class="row">
  <div class="col-2  border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
    System Management
  </div>
  <div class="col-7  border border-black"></div>
  <div class="col-1  border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
    Change Language
  </div>
  <div class="col-2  border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
    <li class="list-group-item" style="border: 1px solid black; border-radius: 0%; ">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-auto" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Username
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to 'Profile', admin_root_path, class: "nav-link #{'active' if action_name == 'posts' }", 'aria-current': 'page' %>  </li>
          <li><%= link_to 'Sign Out', destroy_admin_user_session_path, data: { 'turbo-method': :delete }, class: "nav-link #{'active' if action_name == 'sign in' }", 'aria-current': 'page' %></li>
        </ul>
      </div>
    </li>
  </div>
</div>