<div class="row mb-2"></div>
<div class="row">
  <div class="col-11">
    <%= render 'menu/partial/left_side' %>
  </div>
  <div class="col-1">
    <%= render 'menu/partial/right_side' %>
  </div>
</div>
<div class="row">
    <%= render 'menu/partial/bottom_side' %>
</div>

