<div class="container-fluid border border-black">
  <%= render 'client/partial/application_up' %>
<h1>New Address</h1>

<%= render partial: 'form', locals: { address: @address } %>

  <%= render 'client/partial/application_down' %>
</div>
