<div class="box" style="border: 1px solid black;">
  <div class="vh-100 vw-100">
    <%= render 'admin/partial/header_nav' %>

    <div class="d-flex flex-row h-100 w-100">
      <%= render 'admin/partial/left_nav' %>

      <div class="p-4">
        <h3>Hi, <%= current_admin_user.username %></h3>
      </div>
    </div>
  </div>
</div>



